[submodule "elm-stuff/packages/avh4/elm-keys/0.0.1"]
	path = submodules/elm-keys
	url = https://github.com/avh4/elm-keys.git
[submodule "elm-stuff/packages/avh4/elm-dropbox/0.0.1"]
	path = submodules/elm-dropbox
	url = https://github.com/avh4/elm-dropbox.git
[submodule "submodules/rectified-elm"]
	path = submodules/rectified-elm
	url = https://github.com/avh4/rectified-elm.git
